[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
autopep8 = "*"
pillow = "*"
clipboard = "*"

[dev-packages]

[requires]
python_version = "3.8"
