{%extends 'base.html' %}


{%block body%}
<div class="container">
        {%for image in images %}
        <img src="{{image.image.url}}" alt="" class="w-25 m-3"  data-toggle="modal" data-target="#{{image.id}}"> 

        <div class="modal fade" id="{{image.id}}" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">{{image.image_name}} - {{image.image_location}}
                        </h5>
                        <a class='text-light' href="{{request.META.HTTP_REFERER}}">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </a>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="" class="img-fluid">
                        <p class="mt-3 mb-3">{{image.image_description}}</p>
                        <strong><small>Posted {{image.uploaded | timesince}} ago by {{image.owner |capfirst}}</small></strong><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="copyImageLink('{{image.image.url}}'); 
                        myFunction()" id="copyImageLink"> Copy Link</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

<script type="text/javascript">
    function copyImageLink(data) {
        navigator.clipboard.writeText(window.location.origin + data)
    }
    function myFunction() {
        alert('Link Copied! You can go ahead and paste it ')
    }
</script>

{%endblock%}